<div class="">
    <h2>Warehouse</h2>
    <div class="">
        <form action="" [formGroup]="warehouseForm">
              <!-- <div>
                <label for="warehouseId">Warehouse ID</label>
                <input id="warehouseId" formControlName="warehouseId" type="text" />
                <div *ngIf="warehouseForm.get('warehouseId')?.touched && warehouseForm.get('warehouseId')?.invalid">
                  <div class="text-red" *ngIf="warehouseForm.get('warehouseId')?.errors?.required">
                    Warehouse ID is required.
                  </div>
                  <div class="text-red" *ngIf="warehouseForm.get('warehouseId')?.errors?.minlength">
                    Warehouse ID must be at least 3 characters long.
                  </div>
                </div>
              </div> -->
            
              <div>
                <label for="supplierId">Supplier ID</label>
                <input id="supplierId" formControlName="supplierId" type="text" />
                <div *ngIf="warehouseForm.get('supplierId')?.touched && warehouseForm.get('supplierId')?.invalid">
                  <div class="text-red" *ngIf="warehouseForm.get('supplierId')?.errors?.required">
                    Supplier ID is required.
                  </div>
                </div>
              </div>
            
              <div>
                <label for="warehouseName">Warehouse Name:</label>
                <input id="warehouseName" formControlName="warehouseName" type="text" />
                <div *ngIf="warehouseForm.get('warehouseName')?.touched && warehouseForm.get('warehouseName')?.invalid">
                  <div class="text-red" *ngIf="warehouseForm.get('warehouseName')?.errors?.required">
                    Warehouse Name is required.
                  </div>
                </div>
              </div>
            
              <div>
                <label for="location">Location:</label>
                <input id="location" formControlName="location" type="text" />
                <div *ngIf="warehouseForm.get('location')?.touched && warehouseForm.get('location')?.invalid">
                  <div class="text-red" *ngIf="warehouseForm.get('location')?.errors?.required">
                    Location is required.
                  </div>
                  <div class="text-red" *ngIf="warehouseForm.get('location')?.errors?.minlength">
                    Location must be at least 6 characters long.
                  </div>
                </div>
              </div>

              <div>
                <label for="capacity">Capacity:</label>
                <input id="capacity" formControlName="capacity" type="text" />
                <div *ngIf="warehouseForm.get('capacity')?.touched && warehouseForm.get('capacity')?.invalid">
                  <div class="text-red" *ngIf="warehouseForm.get('capacity')?.errors?.required">
                    Capacity Name is required.
                  </div>
                </div>
              </div>
            
              <button type="submit">Submit</button>
            </form>
            
            <div *ngIf="(warehouseError$ | async) as warehouseError" class="error">
              {{ warehouseError }}
            </div>
            <div *ngIf="(warehouseSuccess$ | async) as warehouseSuccess" class="success">
              {{ warehouseSuccess }}
            </div>
            
        </form>
    </div>
</div>