<app-navbar></app-navbar>
<form (ngSubmit)="onSubmit()" [formGroup]="productForm" class="user-form">
    <div>
        <label for="warehouseId">Warehouse ID</label>
        <input id="warehouseId" formControlName="warehouseId" type="text" />
        <div *ngIf="productForm.get('warehouseId')?.touched && productForm.get('warehouseId')?.invalid">
          <div class="text-red" *ngIf="productForm.get('warehouseId')?.errors?.required">
            Warehouse ID is required.
          </div>
          <div class="text-red" *ngIf="productForm.get('warehouseId')?.errors?.min">
            Warehouse ID must be greater then 0.
          </div>
        </div>
    </div>
    <div class="form-group">
        <label for="productName">Product Name:</label>
        <input type="text" id="productName" formControlName="productName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="productDescription">Product Description:</label>
        <input type="text" id="productDescription" formControlName="productDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label for="quantity">Quantity :</label>
        <input type="number" id="quantity" formControlName="quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label for="price">Price :</label>
        <input type="number" id="price" formControlName="price" class="form-control" />
    </div>

    <button type="submit" class="btn-submit">Create Product</button>

    <ng-container>
        <div *ngIf="(productError$ | async) as productError" class="error">
            {{ productError }}
          </div>
          <div *ngIf="(productSuccess$ | async) as productSuccess" class="success">
            {{ productSuccess }}
          </div>
    </ng-container>

</form>